body{
  background-image: url('../images/home-bg.jpg') !important;
 
  
}



.footer-text{
  color: white;
  font-family: 'Fira Sans Condensed', sans-serif;
}

@media only screen and (max-width: 1200px){
 .big-text{
  font-size: 4rem;
 }
 .medium-text{
  font-size: 2rem;
 }
 .small-text{
  font-size: 1rem;
 }
}
@media only screen and (max-width: 992px){
  .big-text{
      font-size: 3rem;
     }
     .medium-text{
      font-size: 1.5rem;
     }
     .small-text{
      font-size: 14px;
     }  
}
@media only screen and (max-width: 768px){
 
  footer{
    position: absolute;
    /* background-color: red; */
    width: 100%;
    bottom: 0;    
    
}

  .background{
    justify-content: flex-start;
  }
 
  .wine-circle-img{
    width: 80%;
    height: 80%;
  }

  .first-section{
      height: 50%;
      padding-top: 0;
      margin-top: 0;
  }
}